<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的新闻</title>
</head>
<body>
<div style="width:1000px;">
    <div class="user-bar" style="height:30px; background:#f5f6f7;border-radius:4px;">
        <div class="col-xs-2">
            <h5 class="text-center" style="margin-top:8px;color: #fa9700;"><a href="#/user/myNews">个人主页</a></h5>
        </div>
        <div class="col-xs-2">
            <h5 class="text-center" style="margin-top:8px;color: #fa9700;"><a href="#/user/addNews">发表文章</a></h5>
        </div>
    </div>
    <div class="content clearfix" style="margin-top:10px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#/user/myNews">发布列表</a></li>
        </ul>
        <div class="content" ng-controller="newsShow">
            <table class="table table-hover" style="margin-top:10px;">
                <tr ng-repeat="news in authornews">
                    <td width="600px;">
                        <div><h3><a href="#/detail/{{news.newsId}}" ng-bind="news.title"
                                    style="text-decoration:none;color:#000;"></a></h3></div>
                        <a href="#/detail/{{news.newsId}}" style="text-decoration:none;color:#000;">
                            <div ng-bind="news.summary"></div>
                        </a></td>
                    <td class="text-center" style="vertical-align:middle">&nbsp;&nbsp;发布时间：<span
                            ng-bind="news.createTime |date:'yyyy-MM-dd HH:mm'"></span></td>
                    <td style="vertical-align:middle"><a href="#/detail/{{news.newsId}}" style="color: #000;"
                                                         ng-bind="news.commentNumber+'条评论'"></a></td>
                    <td style="vertical-align:middle"><a href="javascript:" style="color: #fa9700;"
                                                         ng-click="delnews(news.newsId)">删除新闻</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>